.leftside,
.rightside {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .leftside,
    .rightside {
        height: 100vh;
    }
}

.leftside {
    background-color: rgb(0, 255, 251);
}

.rightside {
    background-color: red;
}

.logo img {
    transition: all 0.3s ease-in-out;
}

.logo:hover img {
    transform: scale(1.2);
}

.c-item {
    height: 480px;
}

.c-item2 {
    height: 300px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.c-img2 {
    height: 100%;
    object-fit: cover;
}

.color {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

.gallery {
    background: linear-gradient(
        60deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.5)
    );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 64px;
    border-radius: 20px;
}

.thumbnail {
    border: solid 3px rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    margin: 32px;
    max-width: 300px;
    max-height: 200px;
    transform: scale(1);
    transition: transform 0.3s;
    box-shadow: 0 0 48px 1px rgba(0, 0, 0, 0.5);
}

.thumbnail2 {
    overflow: hidden;
    cursor: pointer;
    margin: 8px;
    max-width: 300px;
    max-height: 200px;
    transform: scale(1);
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.2);
}

.thumbnail2:hover {
    transform: scale(1.2);
}

.thumbnail img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.thumbnail img:focus-visible,
.thumbnail img:focus {
    border: solid 3px black;
}

.popup {
    align-content: center;
    animation: fadeIn 0.3s;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    backdrop-filter: blur(10px);
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.popup.hidden {
    display: none;
}

.popup.fade-out {
    animation: fadeOut 0.3s both;
}

.popup__img {
    max-height: 80%;
    max-width: 80%;
}

.popup__close {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 64px;
    right: 64px;
    font-size: 64px;
}

.popup__arrow {
    border: none;
    border-radius: 50%;
    font-size: 64px;
    height: 64px;
    line-height: 64px;
    position: absolute;
    top: 50%;
    width: 64px;
}

.popup__close,
.popup__arrow {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.popup__close:hover,
.popup__arrow:hover {
    opacity: 1;
}

.popup__arrow--left {
    left: 5%;
}

.popup__arrow--right {
    right: 5%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
}

li a:hover {
    background-color: rgb(133, 255, 253);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link {
    font-size: 28px;
    margin-right: 10px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    max-height: 300px;
    height: 100%;
    width: 100%;
    position: absolute;
}

.description3 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: linear-gradient(
        60deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.5)
    );
    padding: 64px;
    border-radius: 20px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.dropdown-menu.show {
    display: flex;
}
